<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>{{ the_title }}</title>
  <link type="text/css" rel="stylesheet" href="static/hf.css"/>
 </head>
 <body>
   {% block body %}
   
   {% endblock %}
 </body>
</html>
