{% extends 'base.html' %}

{% block body %}

  <h2>{{the_title}}</h2>

  <form method='post' action='/search4'>
    <p>Use this form to submit a search requiest:</p>
    <table>
      <tr>
        <td>Phrase:</td>
        <td><input name='phrase' type='text' width='60'/></td>
      </tr>
      <tr>
        <td>Letters:</td>
        <td><input name='letters' type='text' value='aeiou' width='60'/></td>
      </tr>
    </table>
    <p>When you are ready, click this button:</p>
    <button type='submit'>Do it!</button>
  </form>

{% endblock %}
